<%= form_for @banner, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size_x, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size_x, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size_y, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size_y, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                banners_path, :class => 'btn' %>
  </div>
<% end %>
